{% extends "app/layout.html" %}

{% block content %}

<h2>About us</h2>

<p> We have been working with SoftMG for more than a year. I already know from experience that any task I set will be completed. Any task of any complexity. Such a result cannot be achieved by the efforts of one full-time specialist, no matter how high his qualifications are. And the SoftMG team works wonders and really does anything. By the way, they are almost the only ones who undertook to refine our site. </p>
<p> We were changing the development team for our project and softmg was recommended to us. We decided, since we are changing developers, it is worth switching from the site to an outdated management system - to developing a project on Laravel, and we did not lose. The result of the work at the moment is completely satisfactory to us, the transfer and completion of the project is being carried out at the proper level and within the agreed time frame. It is especially convenient that we can do the main work together on a functional kanban board, and we close minor corrections in the chat. </p>


{% endblock %}
