{% extends "app/layout.html" %}

{% block content %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Predilection
Description: A two-column, fixed-width design for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20100809

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Predilection   by Free CSS Templates</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
    <div id="header-wrapper">
        <div id="header">
            <div id="menu">

            </div>
            <!-- end #menu -->
            <div id="search">
                <form method="get" action="">
                </form>
            </div>
            <!-- end #search -->
        </div>
    </div>
    <!-- end #header -->
    <!-- end #header-wrapper -->
    <div id="logo">
        <h1><a href="#"> Creating websites online </a></h1>
        <p><em> template design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></em></p>
    </div>
    <hr />
    <!-- end #logo -->
    <div id="page">
        <div id="page-bgtop">
            <div id="content">
                    
                <div class="post">
                    <p class="meta"><span class="date">Sunday, April 26, 2024</span> 7:27 AM Posted by <a href="#">Someone</a></p>
                    <h2 class="title"><a href="#"> Website </a></h2>
                    <div class="entry">
                        <p>
                            Create, own, earn!
                            Don't just create a free website, but manage it with the help of the world-renowned open source website builder. Add to this professionally designed themes, ultra-fast hosting and monetization features from the very beginning, and then grow and develop.
                            Free data plan WordPress.com It includes the main features of Jetpack, including site statistics, basic search engine optimization tools and the ability to share publications on social networks.
                        </p>
                        <p>
                            The free plan includes dozens of design options and layouts with the ability to drag and drop blocks to make your site look different from the rest. By switching to a paid tariff plan, increase your capabilities: premium themes and advanced customization are at your service.
                            Start with 1 GB of data storage (this is enough to download almost any media files that you want to share with your audience) and increase the volume as you grow.Automatic updates, anti-spam protection, reliable hosting on servers located in more than 28 data centers around the world.
                        </p>
                    </div>
                </div>
                <div><img src="../../static/app/content/design.png"</div>
            </div>
            <!-- end #content -->
            <div id="sidebar">
                <ul>
                    <li>

                </ul>
                </li>
                </ul>
            </div>
            <!-- end #sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
        <!-- end #page -->
    </div>
    <div id="footer">
        <p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
    </div>
    <!-- end #footer -->
</body>
</html>


{% endblock %}


