{% extends "app/layout.html" %}

{% block content %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Predilection
Description: A two-column, fixed-width design for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20100809

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Predilection   by Free CSS Templates</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
    <div id="header-wrapper">
        <div id="header">
            <div id="menu">

            </div>
            <!-- end #menu -->
            <div id="search">
                <form method="get" action="">
                </form>
            </div>
            <!-- end #search -->
        </div>
    </div>
    <!-- end #header -->
    <!-- end #header-wrapper -->
    <div id="logo">
        <h1><a href="#"> Creating Programm C++  </a></h1>
        <p><em> template design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></em></p>
    </div>
    <hr />
    <!-- end #logo -->
    <div id="page">
        <div id="page-bgtop">
            <div id="content">

                <div class="post">
                    <p class="meta"><span class="date">Sunday, April 26, 2024</span> 7:27 AM Posted by <a href="#">Someone</a></p>
                    <h2 class="title"><a href="#"> Programming С++ Lesson 1  </a></h2>
                    <div class="entry">
                        <p>
                            To learn how to program from scratch, you only need to be able to use a computer, install programs, create folders and files. This is the first article in the series "Deep immersion in C++", with which you will take the first steps in the profession of a developer of server applications and games.
                        </p>
                        <p>
                            Do not be afraid of a large amount of information: the more you know, the better you will be able to program. This is especially important if you have chosen C++, because it is impossible to write high-performance code in this language without a good theoretical basis.
                        </p>
                    </div>
                </div>
                <h2> Video 1 </h2>
                <video src="../../static/app/content/programmc.mp4" controls="controls" width="550" height="400" ></video>

       <div class="post">
     <p class="meta"><span class="date">Sunday, April 26, 2024</span> 7:27 AM Posted by <a href="#">Someone</a></p>
     <h2 class="title"><a href="#"> Programming С++ Lesson 2 </a></h2>
     <div class="entry">
         <p>
             In Lesson 1, you created several C++ programs. At that time, your goal was to understand the process of creating and compiling C++ programs, not to understand C++ operators. In this lesson, for the first time, you will take a closer look at the operators that make up a C++ program. You will see that most C++ programs follow the same format: they start with one or more #include statements, contain the string void main(void), and then a set of operators grouped between left and right curly brackets. From this lesson, you will understand that these somewhat intimidating operators are really very easy to master. By the end of this lesson, you will have learned the following basic concepts.
         </p>
     </div>
 </div>
 <h2> Video 2 </h2>
 <video src="../../static/app/content/programmdd.mp4" controls="controls" width="550" height="400" ></video>
            </div>
            <!-- end #content -->
            <div id="sidebar">
                <ul>
                    <li>

                </ul>
                </li>
                </ul>
            </div>
            <!-- end #sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
        <!-- end #page -->
    </div>
    <div id="footer">
        <p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
    </div>
    <!-- end #footer -->
</body>
</html>


{% endblock %}